* {
	padding: 0;
	margin: 0;
}

.indicator {
	position: absolute;
	font-family: sans-serif;
	color: #eebbbb;
	margin: 1rem 0;
}

#top-indicator {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 4rem;
}

#bottom-indicator {
	margin-left: 1rem;
	font-size: 1.5rem;
	bottom: 0;
}

button {
	position: absolute;
	bottom: 0rem;
	left: 50%;
	transform: translateX(-50%);
	font-family: sans-serif;
	background-color: #222;
	color: #ebb;
	border: none;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	font-size: 1.3rem;
}

button:hover {
	background-color: #ebb;
	color: #222;
}
