* {
	padding: 0;
	margin: 0;
	font-family: LinBiolinum_R;
}

.indicator {
	position: absolute;
	/*font-family: ColumbiaSerialBold;*/
	color: #eebbbb;
	margin: 1rem 0;
}

#top-indicator {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 4rem;
}

#bottom-indicator {
	margin-left: 1rem;
	font-size: 1.5rem;
	bottom: 0;
}

#reset-buttons {
	position: absolute;
	top: 0;
	left: 0;
	/*display: block;*/
}

button {
	display: block;
	width: 100%;
	background-color: #222;
	color: #ebb;
	border: none;
	border-radius: 0.4rem;
	margin-left: 0.4rem;
	margin-top: 0.4rem;
	padding: 0.4rem;
	font-size: 1.2rem;
}

button:hover {
	background-color: #ebb;
	color: #222;
}
